.list-container {
  margin: auto;
  width: 70%;
}
.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 1em;
  text-decoration: underline;
}
.lists li {
  padding: 0.5em 1em;
  background-color: rgb(31, 30, 30);
  border-radius: 0.3em;
  border: 1px solid rgba(255, 255, 255, 0.491);
  margin: 0.3em;
}
