.App {
  width: 100svw;
  height: 100svh;
}
.header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1.5em;
}
.container {
  width: 60%;
  min-width: 21.875em; /* 350px*/
  height: 70%;
  margin: auto;
  padding: 0.5em;
}
.seprator {
  width: 80%;
  height: 1px;
  background-color: white;
  margin: auto;
}
